/* all icons from https://fontawesome.com/ */
*, *::before, *::after {
  box-sizing: border-box;
}

:root{
  /* START COLOR PALETTE */

  /* viridis solid colors */
  --dark-purple: #440154;
  --purple: #482475;
  --blue: #355F8D;
  --teal : #22A884;
  --green : #7AD151;
  --lime : #BDDF26;

  /* utility colors for text, links, etc... */
  --grey: #4F4F4F;
  --logo-blue: #11557C;
  --pale-blue: #869FBB;
  --pale-orange: #FFC9A5;
  --orange: #FFAA70;
  --bold-orange: #FFAA70;
  --light-gray: #E5E5E5;
  --medium-gray: #c4c4c4;
  --black: #000;
  --white: #fff;
  --alpha-white: rgba(255, 255, 255, 0.8);
  /* END COLOR PALETTE */

  /* START BACKGROUND GRADIENTS */

  /* viridis gradients */
  --viridis: linear-gradient(90deg, #0C0154, #482475, #414487, #355F8D, #2A788E, #21908D, #22A884, #7AD151, #BDDF26);
  --viridis-purple: linear-gradient(90deg, #440154, #355F8D);
  --viridis-blue: linear-gradient(90deg, #414487, #21908D);
  --viridis-teal: linear-gradient(90deg, #2A788E, #42BE71);
  --viridis-green: linear-gradient(90deg, #42BE71, #BDDF26);

  --viridis-purple-vert: linear-gradient(180deg, #440154, #355F8D);
  --viridis-blue-vert: linear-gradient(180deg, #414487, #21908D);
  /* END BACKGROUND GRADIENTS */

  /* START TYPOGRAPHY */

  /* font family */
  --aleo: 'Aleo', serif;
  --open-sans: 'Open Sans', sans-serif;

  /* weights */
  --regular: 400;
  --bold: 700;

  /* font sizes */
  --base-font: 14px;
  --heading-5: calc(var(--base-font) / 1.25);
  --heading-4: calc(var(--base-font) * 1.25);
  --heading-3: calc(var(--heading-4) * 1.25);
  --heading-2: calc(var(--heading-3) * 1.25);
  --heading-1: calc(var(--heading-2) * 1.25);

  /* END TYPOGRAPHY */

  /* DEFAULT VALUES */
  --heading-font: var(--aleo);
  --default-font: var(--open-sans);
  --default-text: var(--grey);
  --link-color: var(--bold-orange);
  --border-radius: 4px;
  --shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
}

body{
  font-family: var(--default-font);
  color: var(--default-text);
  font-size: 14px;
}

/* typography */
p, li{
  line-height: 1.8em;
}

p.__decorative{
  font-size: var(--heading-4);
}

h1, h2, h3, h4, h5{
  font-family: var(--heading-font);
  color: var(--logo-blue);
}

h1{
  font-size: var(--heading-1);
}

h2{
  font-size: var(--heading-2)
}

h3{
  font-size: var(--heading-3);
}

h4{
  font-size: var(--heading-4);
}

h5{
  font-size: var(--heading-5);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--pale-blue)
}

a{
  font-weight: var(--bold);
  color: var(--bold-orange);
  text-decoration: none;
}

a.link--offsite{
  font-family: var(--heading-font);
  font-size: var(--heading-4);
  display: block;
}

a.link--offsite::after{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  content: "\f061";
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  margin-left: 10px;
}

ul.no-padding{
  padding-inline-start: 1em;
  margin: 0 0 0 2px;
}

/* buttons */
button, a.button{
  background-color: var(--blue);
  padding: 15px 20px;
  width: fit-content;
  display: block;
  border-radius: var(--border-radius);
  color: var(--white);
  margin: 1em 0;
  font-family: var(--heading-font);
  font-size: var(--heading-4);
  font-weight: var(--regular);
  box-shadow: var(--shadow);
}

button::after, a.button::after{
  content: "";
  margin-left: 60px;
  background: url("_images/arrow-right-solid-white.png") no-repeat 0 0;
  background-size: 13px 15px;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  transition: margin .2s ease-out;
}

button:hover::after, a.button:hover::after{
  margin-left: 80px;
}

.button--purple, a.button--purple{
  background: var(--viridis-purple);
}

.button--blue, a.button--blue{
  background: var(--viridis-blue);
}

.button--teal, a.button--teal{
  background: var(--viridis-teal);
}

.button--green, a.button--green{
  background: var(--viridis-green);
  color: var(--black);
}

.button--green::after, a.button--green::after{
  background-image: url("_images/arrow-right-solid-black.png");
}

/* horizontal rules */

.rule {
  width: 100%;
  background-color: var(--light-gray);
  border: none;
  height: 1px;
}

.rule--viridis{
  background-image: var(--viridis);
  height: 3px;
}

/* callout boxes */
.callout{
  border-left: solid 1px var(--light-gray);
  border-bottom: solid 1px var(--light-gray);
  border-right: solid 1px var(--light-gray);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin-bottom: 20px;
  padding: 28px 20px 20px;
  position: relative;
}

.callout::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 8px;
  width: 100%;
  background-color:var(--blue)
}

.callout--purple::before{
  background-image: var(--viridis-purple);
}

.callout--blue::before{
  background-image: var(--viridis-blue);
}

.callout--teal::before{
  background-image: var(--viridis-teal);
}

.callout--green::before{
  background-image: var(--viridis-green);
}

.callout__icon{
  color: var(--logo-blue);
  font-size: 2em;
  margin-right: 10px;
}

.callout > *{
  margin-top: 0;
}

/* Quicklinks */
.quicklinks{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quicklinks li{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100px;
}

.quicklinks a{
  color: var(--default-text);
  font-size: var(--heading-4);
  font-family: var(--heading-font);
}

.quicklinks__icon{
  width: 75px;
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 700px){
  .quicklink-icon{
    width: 60px;
  }
  .quicklinks a{
    font-size: var(--base-font);
  }
  .quicklinks li{
    margin-bottom: 20px;
  }
}

/* tab switcher */
.tools{
  display: flex;
}

.tabs{
  padding: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tabs__tab{
  font-family: var(--heading-font);
  color: var(--logo-blue);
  font-size: var(--heading-4);
  font-weight: var(--bold);
  padding: 0 20px 0 0;
}

.tabs__content{
  border: solid 1px var(--light-gray);
  flex-grow: 1;
  padding: 20px 20px 20px 40px;
  position: relative;
}

.tabs__content::before{
  content: "";
  width: 8px;
  height: 100%;
  background-image: var(--viridis-blue-vert);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

/* footer */
footer{
  color: var(--alpha-white);
  background-image: var(--viridis-purple-vert);
}

footer a{
  color: var(--white);
}

footer h1{
  color: var(--white);
}

ul.social{
  list-style-type: none;
  padding: 0;
  display: block;
  font-size: 18px;
}

ul.social li{
  display: inline-block;
  margin-right: 5px;
}

ul.mpl-links, ul.release-docs{
  list-style-type: none;
  padding: 0;
}

ul.mpl-links li, ul.release-docs li{
  margin-bottom: 10px;
}

ul.mpl-links{
  font-weight: bold;
}

ul.mpl-links a{
  text-decoration: underline;
}

.release dt{
  font-family: var(--heading-font);
  font-size: var(--heading-5);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.release dd{
  margin: 0;
}

@media (min-width: 650px){
  .release dt, .release dd, ul.mpl-links{
    text-align: right;
  }
}

/* layout */
main{
  display: grid;
  gap: 20px;
}

@media (min-width: 800px){
  main{
    margin-top: 50px;
    grid-template-columns: minmax(1em, auto) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px) minmax(44px, 118px)  minmax(1em, auto);
    grid-template-areas: 
    ". intro intro intro intro intro intro intro-text intro-text intro-text intro-text intro-text intro-text ."
    ". quicklinks quicklinks quicklinks quicklinks quicklinks quicklinks quicklinks quicklinks quicklinks quicklinks quicklinks quicklinks ."
    "hr1 hr1 hr1 hr1 hr1 hr1 hr1 hr1 hr1 hr1 hr1 hr1 hr1 hr1"
    ". resources resources resources resources resources resources news news news news news news."
    ". tools tools tools tools tool-switcher tool-switcher tool-switcher tool-switcher tool-switcher tool-switcher tool-switcher tool-switcher ."
    "hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2"
    ". support support support support support support support support support support support support ."
    "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

@media (max-width: 799px){
  main{
    margin-top: 30px;
    grid-template-columns: 1em auto 1em;
    grid-template-areas: 
    ". intro-text ."
    ". intro ."
    ". quicklinks  ."
    "hr1 hr1 hr1"
    ". resources ."
    ". news ."
    ". tools ."
    ". tool-switcher ."
    "hr2 hr2 hr2"
    ". support ."
    "footer footer footer";
  }
}

.grid__intro-text{
  grid-area: intro-text;
}

.grid__intro{
  grid-area: intro;
}

.grid__quicklinks{
  grid-area: quicklinks;
}

@media (min-width: 1000px){
  .grid__quicklinks{
    padding: 0 100px;
  }
}

.grid__hr-1{
  grid-area: hr1;
}

.grid__resources{
  grid-area: resources;
}

.grid__news {
  grid-area: news;
}

.grid__tools{
  grid-area: tools;
}

.grid__tools-switcher{
  grid-area: tool-switcher;
}

.grid__hr-2{
  grid-area: hr2;
}

.grid__support{
  grid-area: support;
}

.grid__contribute{
  grid-area: contribute;
}

.support__items{
  list-style-type: none;
  padding: 0;
}

@media (min-width: 800px){
  .support__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.support__items .callout{
  flex: 0 0 calc(33.333333% - 13.3333333333333px);
}

footer{
  grid-area: footer;
  display: grid;
}

@media (min-width: 800px){
  footer{
    grid-template-columns: minmax(1em, 40px) 1fr 1fr 1fr 1fr minmax(1em, 40px);
    grid-template-areas: ". mpl mpl links release .";
  }
}

@media (max-width: 799px) and (min-width: 650px){
  footer{
    grid-template-columns: minmax(1em, 40px) 1fr 1fr minmax(1em, 40px);
    grid-template-areas: 
      ". mpl links ."
      ". mpl release .";
  }
}

@media (max-width: 649px){
  footer{
    grid-template-columns: minmax(auto, 1em) auto minmax(auto, 1em);
    grid-template-areas: 
      ". mpl ."
      ". links ."
      ". release .";
  }
}

.grid__mpl-info{
  grid-area: mpl;
}

.grid__mpl-links{
  grid-area: links;
}

.grid__release-docs{
  grid-area: release;
}

/* FOR DEVELOPMENT ONLY */
.placeholder{
  background-color: var(--medium-gray);
}

.placeholder.intro-area{
  height: 540px;
}