/* all icons from https://fontawesome.com/ */
:root {
  /* START COLOR PALETTE */

  /* viridis solid colors */
  --dark-purple: #440154;
  --purple: #482475;
  --blue: #355f8d;
  --teal: #22a884;
  --green: #7ad151;
  --lime: #bddf26;

  /* utility colors for text, links, etc... */
  --grey: #4f4f4f;
  --logo-blue: #11557c;
  --pale-blue: #869fbb;
  --pale-orange: #ffc9a5;
  --orange: #ffaa70;
  --bold-orange: #ffaa70;
  --light-gray: #e5e5e5;
  --medium-gray: #c4c4c4;
  --black: #000;
  --white: #fff;
  --alpha-white: rgba(255, 255, 255, 0.8);
  /* END COLOR PALETTE */

  /* START BACKGROUND GRADIENTS */

  /* viridis gradients */
  --viridis: linear-gradient(
    90deg,
    #0c0154,
    #482475,
    #414487,
    #355f8d,
    #2a788e,
    #21908d,
    #22a884,
    #7ad151,
    #bddf26
  );
  --viridis-purple: linear-gradient(90deg, #440154, #355f8d);
  --viridis-blue: linear-gradient(90deg, #414487, #21908d);
  --viridis-teal: linear-gradient(90deg, #2a788e, #42be71);
  --viridis-green: linear-gradient(90deg, #42be71, #bddf26);

  --viridis-purple-vert: linear-gradient(180deg, #440154, #355f8d);
  --viridis-purple-invert: linear-gradient(180deg, #355f8d, #440154);
  --viridis-blue-vert: linear-gradient(180deg, #414487, #21908d);
  /* END BACKGROUND GRADIENTS */

  /* FONTS */
  --regular: 400;
  --bold: 700;

  /* Other metrics */
  --border-radius: 4px;
  --shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
}

/* Introductory title. */
.intro-title {
  color: var(--pst-color-primary);
  font-family: var(--pst-font-family-heading);
  font-size: var(--pst-font-size-h2);
  font-weight: var(--regular) !important;
}

.mpl-card-title {
  color: var(--pst-color-text-base);
  font-family: var(--pst-font-family-heading);
  font-size: var(--pst-font-size-h3);
  font-weight: var(--regular) !important;
}

.mpl-card-resources ul {
  list-style-type: none;
  padding: 0;
  display: table;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.mpl-card-resources ul li {
  display: table-row;
}

.mpl-card-resources ul li p {
  display: table-cell;
  vertical-align: middle;
}

/* callout boxes */
.callout {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.callout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 8px;
  width: 100%;
  background-color: var(--blue);
}

.callout-purple::before {
  background-image: var(--viridis-purple);
}

.callout-blue::before {
  background-image: var(--viridis-blue);
}

.callout-teal::before {
  background-image: var(--viridis-teal);
}

.callout-green::before {
  background-image: var(--viridis-green);
}

.mpl-callout-title {
  color: var(--pst-color-text-base);
  font-family: var(--pst-font-family-heading);
  font-size: var(--pst-font-size-h4);
  font-weight: var(--regular) !important;
}

.callout-icon {
  color: var(--pst-color-primary);
  font-size: 2em;
  margin: auto 10px auto 0;
}

/* offsite links */
a.link-offsite, div.link-offsite a {
  font-size: var(--pst-font-size-h5);
  padding-left: 0;
  transition: left 0.2s ease-in-out;
}

a.link-offsite::after, div.link-offsite a::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 10px;
}
/* Rulers */
.rule {
  width: 100%;
  background-color: var(--pst-color-border);
  border: none;
  height: 1px;
  margin-bottom: 0em;
  margin-top: 1em;
}

.rule-viridis {
  background-image: var(--viridis);
  height: 3px;
  margin-bottom: 0em;
}

/* Quicklinks */

.quicklink {
  text-decoration: underline;
}

.quicklink:hover {
  text-decoration-thickness: max(3px,.1875rem,.12em);
}

.quicklink img {
  width: 1in;
  margin: 0 auto;
}

/* News */

.news-item:not(:last-of-type) {
  margin-bottom: 2em;
}

.news-item-highlight, .news-item:last-of-type {
  margin-bottom: 40px;
}

.news-item-highlight p:first-of-type, .news-item p:first-of-type {
  margin-bottom: 0;
}

.news-item .date, .news-item-highlight .date {
  margin: 1em 0 .5em;
}

.date{
  font-size: small;
}

/* tab switcher */
.tools {
  min-height: 280px;
}

.tabs-tab[for="sd-tab-item-0"] {
  --sd-color-tabs-underline-active: var(--dark-purple);
  --sd-color-tabs-underline-hover: var(--dark-purple);
  --sd-color-tabs-label-active: var(--dark-purple);
  --sd-color-tabs-label-hover: var(--dark-purple);
}

.tabs-tab[for="sd-tab-item-1"] {
  --sd-color-tabs-underline-active: var(--purple);
  --sd-color-tabs-underline-hover: var(--purple);
  --sd-color-tabs-label-active: var(--purple);
  --sd-color-tabs-label-hover: var(--purple);
}

.tabs-tab[for="sd-tab-item-2"] {
  --sd-color-tabs-underline-active: var(--blue);
  --sd-color-tabs-underline-hover: var(--blue);
  --sd-color-tabs-label-active: var(--blue);
  --sd-color-tabs-label-hover: var(--blue);
}

.tabs-tab[for="sd-tab-item-3"] {
  --sd-color-tabs-underline-active: var(--teal);
  --sd-color-tabs-underline-hover: var(--teal);
  --sd-color-tabs-label-active: var(--teal);
  --sd-color-tabs-label-hover: var(--teal);
}

.tabs-tab[for="sd-tab-item-4"] {
  --sd-color-tabs-underline-active: var(--green);
  --sd-color-tabs-underline-hover: var(--green);
  --sd-color-tabs-label-active: var(--green);
  --sd-color-tabs-label-hover: var(--green);
}

/* footer */
footer {
  color: var(--alpha-white);
  background-image: var(--viridis-purple-vert);
}
html[data-theme=light] footer {
  background-image: var(--viridis-purple-vert);
}
html[data-theme=dark] footer {
  background-image: var(--viridis-purple-invert);
}

footer a {
  color: var(--white);
}

footer h1 {
  color: var(--white);
}

ul.social {
  list-style-type: none;
  padding: 0;
  display: block;
  font-size: 18px;
}

ul.social li {
  display: inline-block;
  margin-right: 5px;
}
ul.social a {
  color: var(--white);
  transition: color 0.2 ease-in-out;
}
ul.social a:hover i {
  color: var(--alpha-white);
}

ul.mpl-links,
ul.release-docs {
  list-style-type: none;
  padding: 0;
  margin-top: 1.33em;
}

ul.mpl-links li,
ul.release-docs li {
  margin-bottom: 10px;
}

ul.mpl-links {
  font-weight: bold;
}

ul.mpl-links a, ul.mpl-links a:visited,
ul.release-docs a, ul.release-docs a:visited
{
  color: var(--white);
  text-decoration: none;
}

ul.mpl-links a:hover, ul.mpl-links a:visited:hover,
ul.release-docs a:hover, ul.release-docs a:visited:hover
{
  color: var(--pst-color-link-hover);
}

.release dt {
  font-family: var(--heading-font);
  font-size: var(--heading-5);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1em;
}

.release dt:first-child {
  margin-top: 0;
}

.release dd {
  margin: 0;
}

@media (min-width: 650px) {
  .release dt,
  .release dd,
  ul.mpl-links {
    text-align: right;
  }
}

/* layout */
html, body {
    width: 100%;
    height: 100%;
}

.document {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

footer {
  grid-area: footer;
  display: grid;
}

@media (min-width: 800px) {
  footer {
    grid-template-columns: minmax(1em, 40px) 1fr 1fr 1fr 1fr minmax(1em, 40px);
    grid-template-areas: ". mpl mpl links release .";
  }
}

@media (max-width: 799px) and (min-width: 650px) {
  footer {
    grid-template-columns: minmax(1em, 40px) 1fr 1fr minmax(1em, 40px);
    grid-template-areas:
      ". mpl links ."
      ". mpl release .";
  }
}

@media (max-width: 649px) {
  footer {
    grid-template-columns: minmax(auto, 1em) auto minmax(auto, 1em);
    grid-template-areas:
      ". mpl ."
      ". links ."
      ". release .";
  }
}

.grid__mpl-info {
  grid-area: mpl;
}

.grid__mpl-links {
  grid-area: links;
}

.grid__release-docs {
  grid-area: release;
}

/* buttons */
.button,
a.button {
  background-color: var(--blue);
  padding: 15px 20px;
  width: fit-content;
  width: -moz-fit-content;
  display: block;
  border: none;
  border-radius: var(--border-radius);
  color: var(--white);
  margin: 1em 0;
  font-family: var(--pst-font-family-heading);
  font-size: var(--pst-font-size-h5);
  font-weight: var(--regular);
  box-shadow: var(--shadow);
}

.button::after,
a.button::after {
  content: "\f061"; /* fa-arrow-right */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 60px;
  display: inline-block;
  transition: margin 0.2s ease-out;
}

a.button:hover {
  color: var(--white);
}

.button:hover::after,
a.button:hover::after {
  margin-left: 80px;
}

.button-purple,
a.button-purple {
  background: var(--viridis-purple);
}

.button-blue,
a.button-blue {
  background: var(--viridis-blue);
}

.button-teal,
a.button-teal {
  background: var(--viridis-teal);
}

.button-green,
a.button-green,
a.button-green:hover {
  background: var(--viridis-green);
  color: var(--black);
}

.button-green::after,
a.button-green::after {
  content: "\f061"; /* fa-arrow-right */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.imrot-img {
  display: flex;
  margin: auto;
  max-width:18em;
  align-self: center;
}

.imrot-cap {
  text-align: center;
  font-style: italic;
  font-size:  large;
}

.copywrite {
  color: var(--white);
}
